body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Zentriert das Container-Div horizontal */
    align-items: center; /* Zentriert das Container-Div vertikal (optional) */
    min-height: 100vh; /* Mindestens volle Höhe des Viewports */
    }

main { 
    font-family: "Helvetica Neue",Arial,sans-serif; /* Bestimme die Schriftart */
    font-size: 15px; /* Bestimme die Schriftgröße */
    }

.text {
    font-family: "Helvetica Neue",Arial,sans-serif; /* Bestimme die Schriftart */
    font-size: 15px; /* Bestimme die Schriftgröße */
    }

h1 {font-size: 32px; /* Bestimme die Schriftgröße */
    text-align:left}
    
h2 {font-weight:bolder;
    font-size: 20px; /* Bestimme die Schriftgröße */
    text-align:left}



.container {
    max-width: 1200px; /* Maximale Breite von 1200 Pixel */
    width: 100%; /* Breite auf 100% des verfügbaren Raums setzen */
    height: auto; /* Automatische Höhe */
    padding: 20px; /* Innenabstand für den Inhalt */
    border: 50px solid #fff; /* Rahmen für das Container-Div */
    background-color: #fff; /* Hintergrundfarbe */
    transition: transform 0.3s ease, opacity 0.3s ease; 
        }

.navbar {
    position: fixed;
    right: -500px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color:black;
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding-top: 60px
        }        

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.navbar ul li {
    padding: 15px;
    text-align: center;
    }

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    }

    

.menu-btn {
        position: fixed;
        top: 12px;
        right: 12px;
        font-size: 25px;
        background-color: transparent;
        border: none;
        color: #333;
        cursor: pointer;
        z-index: 1100;
    }
    
    /* Klasse für aktives Menü */
    .navbar.active {
        right: 0;
    }
    
    .container.active {
        transform: translateX(-250px);
        opacity: 0.6;
    }




.video-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Verhältnis 16:9 */
    height: 0; /* Höhe ist 0, wird durch Padding bestimmt */
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Füllt den gesamten Container */
}

h1, p, ul {
    margin: 0 0 20px; /* Abstände für Elemente */}


.name {
    position: absolute;
    top: 20px;
    left: 70px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 1100;
    }





    .button {
        width: 150px; /* Feste Breite */
        height: 75px;
        padding: 15px; /* Innenabstand */
        font-size: 20px;
        font-family: "Helvetica Neue",Arial,sans-serif;;
        color: black; /* Schwarzer Text */
        background-color: white; /* Weiße Fläche */
        outline: 2px solid black; /* Schwarzer Rahmen */
        border: none; /* Kein innerer Rahmen */
        cursor: pointer; /* Zeiger ändern bei Hover */
        transition: background-color 0.2s ease, color 0.3s ease, outline-color 0.3s ease; /* Sanfter Übergang */
        text-align: center; /* Text zentrieren */
        display: flex; /* Flexbox aktivieren */
        justify-content: center; /* Zentriert den Text horizontal */
        align-items: center; /* Zentriert den Text vertikal */
        box-sizing: border-box; /* Stellt sicher, dass Padding und Outline die Größe nicht beeinflussen */
        text-decoration: none; /* Unterstrich entfernen */
    }

    /* Hover-Effekt */
    .button:hover {
        background-color: black; /* Hintergrundfarbe beim Hover */
        color: white; /* Textfarbe beim Hover */
        outline-color: black; /* Rahmenfarbe beim Hover */
    }



/* Modal */
.modal {
    display: none; /* Versteckt das Modal standardmäßig */
    position: fixed; /* Fixiert das Modal */
    z-index: 1000; /* Sicherstellen, dass es oben angezeigt wird */
    left: 0;
    top: 0;
    width: 100%; /* Vollbildbreite */
    height: 100%; /* Vollbildhöhe */
    overflow: auto; /* Scrollen, wenn nötig */
    background-color: rgba(0, 0, 0, 0.8); /* Hintergrundfarbe mit Transparenz */
}

/* Modal-Inhalt (Bild) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Bildbreite */
    height: auto; /* Bildhöhe */
}

/* Schließen-Button */
.close {
    position: absolute; /* Positioniert den Schließen-Button */
    top: 20px;
    right: 35px;
    color: white; /* Schließen-Button-Farbe */
    font-size: 40px; /* Größe des Schließen-Buttons */
    font-weight: bold; /* Fett */
    transition: 0.3s; /* Übergangseffekt */
    cursor: pointer; /* Zeiger */
}

/* Schließen-Button-Hover */
.close:hover,
.close:focus {
    color: #bbb; /* Farbe beim Hover */
    text-decoration: none; /* Keine Unterstreichung */
    cursor: pointer; /* Zeiger */
}

